@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 560px;
  height: 794px;
  top: 112px;
  left: 62px;
  gap: 0px;
  opacity: 0px;
}

body {
  background: rebeccapurple;
  color: #071723;
}

button {
  width: 140px;
  height: 39px;
  gap: 0px;
  opacity: 0px;
  background: rgba(47, 54, 118, 1);
  color: aliceblue;
  font-weight: bold;
  border-radius: 15px;
}

button:hover {
  background: rgba(25, 24, 71, 1);
  border: 2px solid rgba(47, 54, 118, 1);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px double #2f3676;
  border-radius: 5px;
  margin: 2px 0 -1px 0;
  padding: 8.5px;
}

input[type='checkbox']:checked {
  background: #2f3676;
  border: 3px double #fff;
  margin: 1px -1px -2px -1px;
  padding: 7.5px;
}

.pacote-de-stickers {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 550px;
}

.fieldset {
  border: none;
  padding: 0 32px;
  margin-bottom: 32px;
}

.fieldset__legend {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.header {
  background: url(header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

.header__title {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.header__title .strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.46;
}

.observacoes {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 8px;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
}

.quantos-de-cada__menos {
  background: url(menos.svg) center right no-repeat;
  border: none;
  border-radius: 8px;
  display: block;
  float: left;
  height: 42px;
  text-indent: -9999px;
  width: 42px;
}

.quantos-de-cada__valor {
  background: #dde3e9;
  border: 1px solid #2f3676;
  border-radius: 7px;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  padding: 8.5px;
  text-align: center;
  width: 60px;
}
